.input-submit {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/*modal 相关*/
.modal-body #temperature {
    text-align: left;
    outline: none;
    width: 200px;
}

.modal-body #remark {
    text-align: left;
    outline: none;
    vertical-align: top;
    outline: none;
    width: 200px;
}

.modal-form {
    width: 100%;
    /*max-width: 330px;*/
    padding: 15px;
    margin: auto;
    margin-left: 20%;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    width: 25%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}