<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小组成员体温信息查询接口</title>
</head>
<body>
<form action='/TemperatureReporter/queryTeamTemperatureRecords' method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>recorderId：</td>
            <td><input type="text" name="recorderId"></td>
        </tr>
        <tr>
            <td>teamId：</td>
            <td><input type="text" name="teamId"></td>
        </tr>
        <tr>
            <td>measureTimes：</td>
            <td><input type="text" name="measureTimes"></td>
        </tr>
        <tr>
            <td>measureDate：</td>
            <td><input type="text" name="measureDate"></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="查询">
</form>
</body>
</html>