<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小组体温提交测试页</title>
</head>
<body>
<form action='/TemperatureReporter/teamTemperatureSubmit' method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>teamId：</td>
            <td><input type="text" name="teamId"></td>
        </tr>
        <tr>
            <td>teamName：</td>
            <td><input type="text" name="teamName"></td>
        </tr>
        <tr>
            <td>measureTimes：</td>
            <td><input type="text" name="measureTimes"></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>